
.flex-container {
  display: flex;
  justify-content: center;
  background-color: white;
}

.flex-container > div {
  background-color: ;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}



.flex-container-wrap {
  display: flex;
  flex-wrap: wrap;
  background-color: DodgerBlue;
}

.flex-container-wrap > div {
  background-color: #f1f1f1;
  width: 200px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 20px;
}

.content{
	margin:20px 10px 0px 10px;
	
	
}

.content-slice{
	margin:20px 0px 0px 0px;
	padding:10px 20px 40px 40px;
	background-color:#d9d9d9;
	
}


.content-slice p{
	font-size:20px;
}

.header-background{
	padding:15px;
	background-color:#d9d9d9;
}

* {
	font-family: 'ZCOOL XiaoWei', serif;
}


#menubar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}



#menubar li {
  float: left;
  border-right: 1px solid #ffffff;
}

#menubar li.last{
	border-right: 0px solid #ffffff; !important;
}

#menubar li.mnuright {
	float: right;
	background-color:#66ffcc;
}

#menubar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#menubar li a:hover:not(.active) {
  background-color: #111;
}

#menubar .active {
  background-color: #4CAF50;
}