{% extends "rate_my_movie_app/base.html" %}
{% load staticfiles %}

{% block title_block %}
  About Us
{% endblock %}

{% block body_block %}
	<div class="content-slice">
		<h1>About Us</h1>
			<div>
				At Rate My Movie our goal is for you, the user, to have an easy to access information on a wide variety of movies that you can add as new movies are released!
				We also hope that you join in our discussion about movies with your fellow site users, and add create discussion threads for your favourite films.<br />
				<div style="margin-top:30px">
				<p>Want to contact us? Reach out to us over on twitter support.</p>
				<a href="https://twitter.com/intent/tweet?screen_name=RateMyMovie&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-show-count="false">Tweet to @RateMyMovie</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
				</div>
			</div>
	</div>
{% endblock %}
