{% extends "rate_my_movie_app/base.html" %}
{% load staticfiles %}

{% block title_block %}
  Upload Movie
{% endblock %}

{% block body_block %}
<div class="content-slice">
  <h1> Add a Movie </h1> 
  <div>
    <form id="movie_form"
          method="post"
          action="/rate_my_movie_app/add_movie/"
          enctype="multipart/form-data">
      {% csrf_token %}
	  
	  {% if form.non_field_errors %}
	    <div class="non-field-errors">
		  {% for err in form.non_field_errors %}
		  <p class = "form-error">{{ err }}</p>
		  {% endfor %}
		  </div>
	  {% endif %}
	  
      {% for hidden in form.hidden_fields %}
        {{ hidden }}
      {% endfor %}
      {% for field in form.visible_fields %}
        <div>
          {{ field.errors }}
          {{ field.help_text }}
          {{ field }}
        </div>
      {% endfor %}
      <input type="submit"
             name="submit"
             value="Upload Movie"/>
    </form>
  </div>
  </div>
{% endblock %}

