<!DOCTYPE html>
{% load staticfiles %}

<html class="background">
  <head lang="en">
  <link rel="stylesheet" type="text/css" href="{% static "css/stylesheet.css" %}" />
  <link href="https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei" rel="stylesheet">
    <meta charset="UTF-8" />
    <title
      >
      Rate My Movie -
      {% block title_block %}
      {% endblock %}
    </title>
  </head>

  <body style="width:75%;margin:auto;margin-top:0px;">
	
	<div class="header-background" ><img src="{% static "images/logo.jpg" %}" alt="Rate My Movie Logo" /></div>
	<div id="menubar">
		<ul>
			<li><a href="/rate_my_movie_app/">Home</a></li>
			<li><a href="/rate_my_movie_app/mostpopular/">Most Popular</a></li>
			<li><a href="/rate_my_movie_app/genres/">Genres</a></li>
      {% if user.is_authenticated %}
        <li><a href="/rate_my_movie_app/add_movie/">Add Movie</a></li>
        <li><a href="/rate_my_movie_app/add_genre/">Add Genre</a></li>
      {% endif %}
			<li><a href="/rate_my_movie_app/rumours/">Rumours</a></li>
			<li><a href="/rate_my_movie_app/aboutus/">About Us</a></li>
      {% if user.is_authenticated %}
        <li class="mnuright"><a href="{% url 'auth_logout' %}?next=/rate_my_movie_app/">Logout</a></li>
      {% else %}
			  <li class="mnuright last"><a href="{% url 'registration_register' %}">Register</a></li>
			  <li class="mnuright"><a href="{% url 'auth_login' %}">Login</a></li>
      {% endif %}
		</ul>
	</div>
    <div class="content">
      {% block body_block %}
      {% endblock %}
    </div>
  </body>
</html>
