{% extends "rate_my_movie_app/base.html" %}
{% load staticfiles %}

{% block title_block %}
 Genres
{% endblock %}
		
{% block body_block %}
	<div class="content-slice">
		<h1>Genres</h1>
		
		<div class="flex-container-wrap">
			{% if genres %}			
				{% for genre in genres %}
					<div class="container-thumb" id="thumb-links">
						<a href="/rate_my_movie_app/genre/{{ genre.slug }}">
						
							<div class="polaroid">
                <img src="/media/{{ genre.thumbnail }}" alt="{{ genre.genre }}" style="width:200px">
								<div class="container">
									<p>{{ genre.genre }}</p>
								</div>
							</div>
							
							<div class="overlay-thumb">
								<div class="text-thumb">More...</div>
							</div>
						
						
						</a>
					</div>
				{% endfor %}
				
				{% if user.is_authenticated %}
						<div class="container-thumb" id="thumb-links">
						<a href="/rate_my_movie_app/add_genre/">
						
							<div class="polaroid">
								<img src="{% static "images/add-image.jpg" %}" alt="Add Genre thumb">
								<div class="container">
									<p>Add Genre</p>
								</div>
							</div>
							
							<div class="overlay-thumb">
								<div class="text-thumb">Add Genre</div>
							</div>
						
						
						</a>
					</div>
				{% endif %}
			
			{% else %}
				<strong>There are no genres present, <a href="/rate_my_movie_app/add_movie/">post your genres here!</a></strong>
			{% endif %}

		</div>
	</div>
{% endblock %}

