{% extends "rate_my_movie_app/base.html" %}
{% load staticfiles %}

{% block title_block %}
 Genres
{% endblock %}
		
{% block body_block %}

<div class="content-slice"> 	
<h1>{{ genre.genre }}</h1>	
  <div class="flex-container-wrap">
    {% if genre %}
		
		{% if movies %}
			
			{% for movie in movies %}
					<div class="container-thumb" id="thumb-links">
						<a href="/rate_my_movie_app/movie/{{movie.slug}}">
						
							<div class="polaroid">
                <img src="/media/{{ movie.thumbnail }}" alt="{{movie.title}}" style="width:200px">
								<div class="container">
									<p>{{movie.title}}</p>
								</div>
							</div>
							
							<div class="overlay-thumb">
								<div class="text-thumb">More...</div>
							</div>
						
						
						</a>
					</div>
				{% endfor %}
			
		{% else %}
			<strong>There are no movies present.</strong>
		{% endif %}
	{% else %}
		<strong>The specified genre does not exist!</strong>
	{% endif %}
  </div>
</div>
{% endblock %}
