{% extends "rate_my_movie_app/base.html" %}
{% load staticfiles %}

{% block title_block %}
 Genres
{% endblock %}
		
{% block body_block %}
<div class="content-slice">
  <h1>Genres</h1>
  <div>
		This is the Genres page <br />
  </div>
  <div>
	<a href="/rate_my_movie_app/add_genre/">Add another genre</a><br />
  </div>
		
  <div class="flex-container-wrap">
    {% if genres %}
		  
			  {% for genre in genres %}
				<div>
						<img src="{% static "images/logo.jpg" %}" alt="Rate My Movie Logo" />
						<a href="/rate_my_movie_app/genre/{{ genre.slug }}">{{ genre.genre }}</a>
					
					</div>
			  {% endfor %}
		  
		{% else %}
			<strong>There are no genres present.</strong>
		{% endif %}
  </div>
</div>
{% endblock %}
