{% extends "rate_my_movie_app/base.html" %}
{% load staticfiles %}

	
{% block title_block %}
  Home
{% endblock %}

{% block body_block %}
	<div class="content-slice">
		<h1>Welcome to Rate my Movie</h1>
		<div>
			<p>Feel free to browse as a guest, or join up to review and post your movies! <b>But most of all enjoy your stay.</b></p>
		</div>
	</div>
	
	
	<div class="content-slice">
		<h1>Our Top 5 Movies</h1>
		
		<div>
			{% if movies %}			
				{% for movie in movies %}
					<div>
						<img src="{% static "images/logo.jpg" %}" alt="Rate My Movie Logo" />
						<a href="/rate_my_movie_app/movie/{{movie.slug}}">
						{{ movie.title }}
					
					</div>
				{% endfor %}
			
			{% else %}
				<strong>There are no movies present.</strong>
			{% endif %}
		</div>
	</div>
{% endblock %}
