{% extends "rate_my_movie_app/base.html" %}
{% load staticfiles %}

{% block title_block %}
  Most Popular
{% endblock	%}
  
{% block body_block %}
<div class="content-slice">
	<h1>Most Popular</h1>
	<div>
		<a href="/rate_my_movie_app/add_movie/">Add another movie</a><br />
	</div>
	<div>
		<div class="flex-container-wrap">
			{% if movies %}
				{% for movie in movies %}
					<div>
						<img src="{% static "images/logo.jpg" %}" alt="Rate My Movie Logo" />
						<a href="/rate_my_movie_app/movie/{{movie.slug}}">
						{{ movie.title }}
					
					</div>
				{% endfor %}
			
			{% else %}
				<strong>There are no movies present.</strong>
			{% endif %}
		</div>
	</div>
  
{% endblock %}
