{% extends "rate_my_movie_app/base.html" %}

{% block title_block %}
  Movie
{% endblock %}

{% block body_block %}
  {% if movie %}
  <div class="content-slice">
    <h1>{{ movie.title }}({{ movie.release_date.year }})</h1>
    <div>
      <h2> Movie Info </h2>
      <img src="/media/{{ movie.thumbnail }}"
           alt="This movie doesn't have a thumbnail"/>
      <p>genres: {{ movie.get_genres }}</p>
      <p>views: {{ movie.views }} </p>
      <p>rating: {{ movie.get_average_rating }}</p>
      <p>{{ movie.description }}</p>
    </div>
    <div>
        <h2>Comments</h2>
    {% if comments %}
        {% for comment in comments %}
          <div>
            <p> {{ comment.author }}@{{ comment.time_stamp }} said:
                <br/>
                {{ comment.body }}
            </p>
          </div>
        {% endfor %}    
      {% endif %}
      {% if form %}
        <div>
          <form id="comment_id"
                method="post"
                action="/rate_my_movie_app/movie/{{ movie.slug }}/">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
              {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
              <div>
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
              </div>
            {% endfor %}
            <input type="submit"
                   name="submit"
                   value="post"/>
          </form>
        </div>
        {% endif %}
    </div> 
	</div>
  {% else %}
    The specified movie has not been uploaded.
  {% endif %}
{% endblock %}
