{% extends "rate_my_movie_app/base.html" %}

{% block title_block %}
  Movie
{% endblock %}

{% block body_block %}
  {% if movie %}
  <div class="content-slice">
  
  <h1>{{ movie.title }}({{ movie.release_date.year }})</h1>
  <div class="movie-flex">
    <div>
      <img src="/media/{{ movie.thumbnail }}"
           alt="This movie doesn't have a thumbnail"/>
	</div>
	<div class="genre-info">
	
	<h2> Genres:</h2>
	<div class="genre-flex">
	{% for genre in movie.genres.all %}
		<div>{{ genre }}</div>
	{% endfor %}
    </div>

	
	<p style="padding-top:25px"><span style="font-size:30px">views:   </span>  {{ movie.views }}</p>
	<p style="padding-top:15px"><span style="font-size:30px">rating:   </span>  {{ movie.get_average_rating }}</p>
	<h3 style="padding-top:15px">Description:</h3>  
	<p class="movie-desc">{{ movie.description }}</p>
    </div>
	</div>
    <div>
        <h2>Comments</h2>
    {% if comments %}
        {% for comment in comments %}
        <div style="padding-left:{{ comment.as_padding }}px;">
            <p> {{ comment.author }}@{{ comment.time_stamp }} said:
                <br/>
                {{ comment.body }}
                <br/>
				{% if user.is_authenticated %}
					<button class="create-modal-comment btn btn-primary"
							type="button" 
							name="button"
							data-id="/rate_my_movie_app/create_modal_comment/{{ user.pk }}-{{ comment.pk }}-{{ movie.pk }}/">
					  Reply
					</button>
				{% endif %}
            </p>
          </div>
        {% endfor %}    
      {% endif %}
      {% if form %}
        <div>
          <form id="comment_id"
                method="post"
                action="/rate_my_movie_app/movie/{{ movie.slug }}/">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
              {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
              <div>
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
              </div>
            {% endfor %}
            <input type="submit"
                   name="submit"
                   value="post"/>
          </form>
        </div>
        {% endif %}
    </div> 
	</div>
  {% else %}
    The specified movie has not been uploaded.
  {% endif %}

 <div class="modal fade" tabindex="-1" role="dialog" id="modal">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
     </div>
   </div>
 </div>

 <script type="text/javascript">
  $(document).ready(function(){
    $(".create-modal-comment").each(function(){
        $(this).modalForm({formURL: $(this).data('id')});
    });
  });
 </script>
{% endblock %}
