{% extends "rate_my_movie_app/base.html" %}
{% load staticfiles %}

{% block title_block %}
  Rumours
{% endblock %}
	
{% block body_block  %}
		<h1>Rumours</h1>
		<div>
			This is the rumours page <br />
		</div>
    <div> 
      <a class="twitter-timeline" 
         href="https://twitter.com/MoviewebMovies?ref_src=twsrc%5Etfw">Tweets by MoviewebMovies</a> 
      <script async src="https://platform.twitter.com/widgets.js" 
                    charset="utf-8"></script>
    </div>

{% endblock %}
