{% extends "rate_my_movie_app/base.html" %}
{% load staticfiles %}

{% block title_block %}
  Rumours
{% endblock %}
	
{% block body_block  %}
<div class="content-slice">
		<h1>Rumours</h1>
<div class="flex-container-wrap">
    <div> 
      <a class="twitter-timeline" height="500px" href="https://twitter.com/MoviewebMovies?ref_src=twsrc%5Etfw">Tweets by MoviewebMovies</a> 
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
	</div>
</div>
{% endblock %}